############### Config options ##################

[gcode_macro _BEDFANVARS]
variable_threshold: 100
variable_slow: 0.25
variable_fast: 0.75
variable_fast_delay: 180

variable_filter_slow: 0.35
variable_filter_fast: 0.85
gcode:


########## Bed Fans #########

[fan_generic BedFans]
pin: BED_FAN
kick_start_time: 0.250
off_below: 0.20
# hardware_pwm: True
# cycle_time: 0.001


########## Aliases #########

[gcode_macro BEDFANSSLOW]
gcode:
    {% set SLOW = printer["gcode_macro _BEDFANVARS"].slow|float %}
    {% set FILTER_SLOW = printer["gcode_macro _BEDFANVARS"].filter_slow|float %}
    {% set FILTER = printer["gcode_macro _USER_VARIABLES"].filter_name %}

    SET_FAN_SPEED FAN=BedFans SPEED={SLOW}
    SET_FAN_SPEED FAN={FILTER} SPEED={FILTER_SLOW}


[gcode_macro BEDFANSFAST]
gcode:
    {% set FAST = printer["gcode_macro _BEDFANVARS"].fast|float %}
    {% set FILTER_FAST = printer["gcode_macro _BEDFANVARS"].filter_fast|float %}
    {% set FILTER = printer["gcode_macro _USER_VARIABLES"].filter_name %}

    SET_FAN_SPEED FAN=BedFans SPEED={FAST}
    SET_FAN_SPEED FAN={FILTER} SPEED={FILTER_FAST}


[gcode_macro BEDFANSOFF]
gcode:
    {% set FILTER = printer["gcode_macro _USER_VARIABLES"].filter_name %}

    SET_FAN_SPEED FAN=BedFans SPEED=0
    SET_FAN_SPEED FAN={FILTER} SPEED=0


[gcode_macro _BEDFANS_CANCEL]
gcode:
    UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=0
    UPDATE_DELAYED_GCODE ID=bedfans_fast_after_delay DURATION=0


############ Command overrides ############

[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
    {% set HEATER = params.HEATER|default("")|lower %}
    {% set TARGET = params.TARGET|default(0)|float %}
    {% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|float %}

    _SET_HEATER_TEMPERATURE HEATER={params.HEATER} TARGET={TARGET}

    {% if HEATER == "heater_bed" %}
        {% if TARGET >= THRESHOLD %}
            BEDFANSSLOW
            UPDATE_DELAYED_GCODE ID=bedfans_fast_after_delay DURATION=0
            UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
        {% else %}
            BEDFANSOFF
            _BEDFANS_CANCEL
        {% endif %}
    {% endif %}


[gcode_macro M140]
rename_existing: M99140
gcode:
    {% set S = params.S|default(0)|float %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={S}


[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set S = params.S|default(0)|float %}
    {% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|float %}
    {% set actual_temp = printer.heater_bed.temperature|float %}
    {% set fix_settle = printer["gcode_macro _USER_VARIABLES"].fix_heaters_temperature_settle %}

    {% if S >= THRESHOLD %}
        BEDFANSSLOW
        UPDATE_DELAYED_GCODE ID=bedfans_fast_after_delay DURATION=0
        UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=1
    {% else %}
        BEDFANSOFF
        _BEDFANS_CANCEL
    {% endif %}

    {% if fix_settle %}
        M140 S{S}
        {% if S > 0 %}
            {% if actual_temp <= S %}
                TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S}
            {% else %}
                TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM={S}
            {% endif %}
        {% endif %}
    {% else %}
        M190.1 S{S}
    {% endif %}


[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
    BEDFANSOFF
    _BEDFANS_CANCEL
    _TURN_OFF_HEATERS


################ Monitoring loop #####################

[delayed_gcode bedfanloop]
gcode:
    {% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|float %}
    {% set DELAY = printer["gcode_macro _BEDFANVARS"].fast_delay|int %}
    {% set target = printer.heater_bed.target|float %}
    {% set temp = printer.heater_bed.temperature|float %}

    {% if target >= THRESHOLD %}
        {% if temp >= target - 1 %}
            UPDATE_DELAYED_GCODE ID=bedfans_fast_after_delay DURATION={DELAY}
        {% else %}
            UPDATE_DELAYED_GCODE ID=bedfanloop DURATION=5
        {% endif %}
    {% else %}
        BEDFANSOFF
        _BEDFANS_CANCEL
    {% endif %}


[delayed_gcode bedfans_fast_after_delay]
gcode:
    {% set THRESHOLD = printer["gcode_macro _BEDFANVARS"].threshold|float %}
    {% set target = printer.heater_bed.target|float %}

    {% if target >= THRESHOLD %}
        BEDFANSFAST
    {% endif %}