[gcode_macro Z_BOUNCE_START]
description: Endless Z up/down at bed center (defaults: Z 25..200, center 150,150)
variable_running: 0
gcode:
  {% set MIN = params.MIN|default(25)|float %}
  {% set MAX = params.MAX|default(200)|float %}
  {% set SPEED = params.SPEED|default(20)|float %}    # mm/s
  {% set DWELL = params.DWELL|default(0.3)|float %}   # seconds

  # Voron 2.4 300 center
  {% set CX = params.X|default(150)|float %}
  {% set CY = params.Y|default(150)|float %}

  # Set run flag
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_START VARIABLE=running VALUE=1

  # Home and go to center
  G90
  G28

  # Go to a safe Z before traveling in XY (prevents dragging if something is low)
  G1 Z{MAX} F1200
  G1 X{CX} Y{CY} F12000

  {% set msg = "Endless Z bounce at center X=" ~ CX ~ " Y=" ~ CY ~ " | MIN=" ~ MIN ~ " MAX=" ~ MAX ~ " | SPEED=" ~ SPEED ~ "mm/s DWELL=" ~ DWELL ~ "s" %}
  RESPOND PREFIX=Z_BOUNCE MSG="{msg}"

  # Store loop parameters
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_LOOP VARIABLE=min VALUE={MIN}
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_LOOP VARIABLE=max VALUE={MAX}
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_LOOP VARIABLE=speed VALUE={SPEED}
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_LOOP VARIABLE=dwell VALUE={DWELL}

  # Start the loop
  UPDATE_DELAYED_GCODE ID=Z_BOUNCE_LOOP DURATION=0.1


[gcode_macro Z_BOUNCE_STOP]
description: Stop endless Z bounce
gcode:
  SET_GCODE_VARIABLE MACRO=Z_BOUNCE_START VARIABLE=running VALUE=0
  RESPOND PREFIX=Z_BOUNCE MSG="Stopping..."


[gcode_macro Z_BOUNCE_LOOP]
description: Internal loop state (do not call directly)
variable_min: 25
variable_max: 200
variable_speed: 20
variable_dwell: 0.3
gcode:
  ; intentionally empty


[delayed_gcode Z_BOUNCE_LOOP]
initial_duration: 0
gcode:
  {% if printer["gcode_macro Z_BOUNCE_START"].running|int == 1 %}
    {% set MIN = printer["gcode_macro Z_BOUNCE_LOOP"].min|float %}
    {% set MAX = printer["gcode_macro Z_BOUNCE_LOOP"].max|float %}
    {% set SPEED = printer["gcode_macro Z_BOUNCE_LOOP"].speed|float %}
    {% set DWELL = printer["gcode_macro Z_BOUNCE_LOOP"].dwell|float %}
    {% set F = (SPEED * 60)|int %}  # mm/s -> mm/min

    G90
    G1 Z{MAX} F{F}
    G4 P{(DWELL*1000)|int}
    G1 Z{MIN} F{F}
    G4 P{(DWELL*1000)|int}

    UPDATE_DELAYED_GCODE ID=Z_BOUNCE_LOOP DURATION=0.1
  {% else %}
    RESPOND PREFIX=Z_BOUNCE MSG="Stopped."
  {% endif %}
